@media print {
  .page {
    font-size: 1.2em;
    width: 11in;
    height: 8.5in;
    text-align: center;
  }
}
.page {
  width: 12in;
  height: 8.5in;
}

.background {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 11in;
  width: 8.5in;
}

.header-container {
  text-align: center;
}

.grid-container {
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-column: repeat(5, 1fr);
}

.card-container {
  height: 7.5in;
  width: 7.5in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-only {
  height: 7.5in;
  width: 7.5in;
}

.free-space {
  max-width: 100px;
}

.col {
  flex: auto;
  width: 100%;
  height: 100%;
}

.content-cell, .title-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col:has(#cell-1) * {
  border-radius: 50% 0 0 0;
}

.col:has(#cell-5) * {
  border-radius: 0 50% 0 0;
}

.col:has(#cell-26) * {
  border-radius: 0 0 0 50%;
}

.col:has(#cell-30) * {
  border-radius: 0 0 50% 0;
}

.title-cell {
  border: 4px dashed rgb(191, 255, 153);
}

.card-container {
  border: 4px dashed rgb(191, 255, 153);
  border-radius: 10%;
}

.content-cell {
  border: 4px dashed rgb(191, 255, 153);
}

#cell-1 {
  background-color: rgb(255, 204, 230);
  opacity: 70%;
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-2 {
  background-color: rgb(224, 255, 204);
  opacity: 70%;
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-3 {
  background-color: rgb(255, 38, 77);
  opacity: 70%;
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-4 {
  background-color: rgb(82, 204, 0);
  opacity: 70%;
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-5 {
  background-color: rgb(255, 140, 179);
  opacity: 70%;
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-6 {
  background-color: rgb(255, 204, 230);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-7 {
  background-color: rgb(224, 255, 204);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-8 {
  background-color: rgb(255, 38, 77);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-9 {
  background-color: rgb(82, 204, 0);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-10 {
  background-color: rgb(255, 140, 179);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-11 {
  background-color: rgb(255, 204, 230);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-12 {
  background-color: rgb(224, 255, 204);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-13 {
  background-color: rgb(255, 38, 77);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-14 {
  background-color: rgb(82, 204, 0);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-15 {
  background-color: rgb(255, 140, 179);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-16 {
  background-color: rgb(255, 204, 230);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-17 {
  background-color: rgb(224, 255, 204);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-18 {
  background-color: rgb(255, 38, 77);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-19 {
  background-color: rgb(82, 204, 0);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-20 {
  background-color: rgb(255, 140, 179);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-21 {
  background-color: rgb(255, 204, 230);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-22 {
  background-color: rgb(224, 255, 204);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-23 {
  background-color: rgb(255, 38, 77);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-24 {
  background-color: rgb(82, 204, 0);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-25 {
  background-color: rgb(255, 140, 179);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-26 {
  background-color: rgb(255, 204, 230);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-27 {
  background-color: rgb(224, 255, 204);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-28 {
  background-color: rgb(255, 38, 77);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-29 {
  background-color: rgb(82, 204, 0);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

#cell-30 {
  background-color: rgb(255, 140, 179);
}

.card-container {
  background-color: rgb(224, 255, 204);
}

.card-container * {
  color: rgb(23, 3, 37);
}

.col > * {
  font-family: Georgia;
  text-align: center;
}

.title-cell {
  font-size: 3rem;
}

.header-container * {
  font-family: Georgia;
}

h1 {
  color: rgb(255, 204, 230);
  font-size: 3rem;
}

/*# sourceMappingURL=output.css.map */
