:root{
    --dark-purple:rgb(23, 3, 37);
    --lime:rgb(200,212,80);
    --red:rgb(230,76,76);
    --blue: rgb(35, 202, 239);
    --yellow:rgb(252,228,82);
    --pink:rgb(225,120,175);
    --egg-shell:rgb(230,230,230);
    --orange:rgb(241,138,0);
    --ghost-white: rgba(244, 240, 247, 0.75);
    --royal-blue:rgb(77, 18, 255);

    /* fonts */
    --gothic-serif-family: 'Franklin Gothic Medium',serif;
    --brush-family: 'Brush Script MT', cursive;


    /* border settings */
    --outer-border: 10px solid var(--card-background-color);
    --inner-border: 10px solid var(--card-border-color);

    --card-edge-border-radius: 25%;
    --inner-cell-border-radius: 5%;



    /* project colors */
    --col-1-color: var(--yellow);
    --col-2-color: var(--blue);
    --col-3-color: var(--red);
    --col-4-color: var(--pink);
    --col-5-color: var(--orange);
    --card-background-color: var(--royal-blue);
    --card-border-color: var(--dark-purple);
    --cell-background-color: var(--ghost-white);


    /* tect */
    --text-color: var(--dark-purple);
    --cell-font: var(--gothic-serif-family);
    --title-font: var(--brush-family);
}



/* row and columns */
.col, .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    height: 150px;
    border-bottom: var(--inner-border);
    border-right: var(--inner-border)
}


/* Individual Cell Content */
.title-cell{
    font-size: x-large;
    font-family: var(--title-font);
}

.content-cell {
    height: 100px;
    width: 120px;
    font-family: var(--cell-font);
}

img {
    height: 120px;
}