:root{
    --dark-purple:rgb(23, 3, 37);
    --lime:rgb(200,212,80);
    --red:rgb(230,76,76);
    --blue: rgb(35, 202, 239);
    --yellow:rgb(252,228,82);
    --pink:rgb(225,120,175);
    --egg-shell:rgb(230,230,230);
    --orange:rgb(241,138,0);
}

/* div {
  border: 1px solid var(--dark-purple); /* Sets a 2px solid black border */
 
/* FIX 
    - do not allow to exceed paper size 
    - need to make sure they stay uniform
*/
.col{
    height: 150px;
}

.container{
    text-size-adjust: auto;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Colors of each col 1-5 */

.row > div:nth-child(1){
    background-color: var(--yellow);
}
.row > div:nth-child(2){
    background-color: var(--blue);
}
.row > div:nth-child(3){
    background-color: var(--red);
}
.row > div:nth-child(4){
    background-color: var(--pink);
}
.row > div:nth-child(5){
    background-color: var(--lime);
}

/* end of col 1-5 */
.cell-content {
    background-color: antiquewhite;
    padding: 15;
    margin: 10;
    border-radius: 5%;
    color: var(--dark-purple);
    height: 100px;
}

.cell-title {
    
}