@use "sass:math";
@use 'variables' as v;

@media print{
    .page{
        font-size: 1.2em;
        width: 11in;
        height: 8.5in;
        text-align: center;
    }
}
.page {
    width: 12in;
    height: 8.5in;
}


//background container
.background {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    height: v.$background-height;
    width: v.$background-width;
}

// card layout containers
.header-container{
    text-align: center;
}
.grid-container {
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-rows: repeat(v.$row-num, 1fr);
    grid-column: repeat(v.$col-num, 1fr);
}

.card-container{
    height: v.$card-height;
    width: v.$card-width;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-only{
    height: v.$card-height;
    width: v.$card-width;
}

//inner card layout
.free-space {
    max-width: 100px;
}

.col {
    flex: auto;
    width: 100%;
    height: 100%;
}

.content-cell, .title-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@function cell-size($cell-num, $card-size){
    $float-cell-size: math.div($card-size, $cell-num);
    @return math.floor($float-cell-size) * 1fr;
}


