// COLORS




$dark-purple: rgb(23, 3, 37);
$lime:rgb(200,212,80);
$red:rgb(230,76,76);
$blue: rgb(35, 202, 239);
$yellow:rgb(252,228,82);
$pink:rgb(225,120,175);
$egg-shell:rgb(230,230,230);
$orange:rgb(241,138,0);
$ghost-white: rgba(244, 240, 247, 0.75);
$royal-blue:rgb(77, 18, 255);
$row-num: 6; 
$col-num: 5;

$themes: (
  rainbow: (
    col-1: $orange,
    col-2: $blue,
    col-3: lime,
    col-4: $red,
    col-5: $pink,
    main-color: $royal-blue, 
  )
);
@use "sass:map";


@function get-col-num($n){
  @return ($n - 1) % $col-num + 1;
}


@mixin apply-theme($theme-name) {
  @if map.has-key($themes, $theme-name) {
    $theme-map: map.get($themes, $theme-name);

    .container {
        border: 5px solid map.get($theme-map,main-color);
    }
    // give each column a different color
    @for $i from 1 through ($col-num * $row-num) {

     
      @if $i <= $col-num {
         // card title row color
        #cell-#{$i} {
          background-color: map.get($theme-map,main-color);
        }
      } @else {
        // body content col color
      #cell-#{$i} {
        background-color: map.get($theme-map,col-#{get-col-num($i)});
      }
    }
    }
  }
}