// COLORS




$dark-purple: rgb(23, 3, 37);
$lime:rgb(200,212,80);
$red:rgb(230,76,76);
$blue: rgb(35, 202, 239);
$yellow:rgb(252,228,82);
$pink:rgb(225,120,175);
$egg-shell:rgb(230,230,230);
$orange:rgb(241,138,0);
$ghost-white: rgba(244, 240, 247, 0.75);
$royal-blue:rgb(77, 18, 255);







$row-num: 6; 
$col-num: 5;
$card-border-radius: 25%;
$main-color: red;

$themes: (
  rainbow: (
    col-1: $orange,
    col-2: $blue,
    col-3: lime,
    col-4: $red,
    col-5: $pink,
    cell-background-color: $ghost-white,
    main-color: $main-color, 
    card-border-style: 4px solid blue,
    card-background-border-style: 4px solid $main-color,
  )
);


@use "sass:map";


@function get-col-num($n){
  @return ($n - 1) % $col-num + 1;
}

@mixin apply-card-border-style($theme-map){
  $card-border-style: map.get($theme-map,card-border-style);
  $card-background-border-style: map.get($theme-map,card-background-border-style);
  $cell-num: $row-num * $col-num;


  div:has(#cell-#{1}), #cell-#{1}{
    border-top-left-radius: $card-border-radius;
  }
  #cell-#{$col-num} {
    border-top-right-radius: $card-border-radius;
  }
  #cell-#{$cell-num - $col-num + 1}{
    border-bottom-left-radius: $card-border-radius;
  }
  #cell-#{$cell-num}{
    border-bottom-right-radius: $card-border-radius;
  }

  .title-cell {
    border: $card-background-border-style;
  }
  .content-cell{
    border: $card-border-style;
  }

  .row .col:first-child .content-cell{
    border-left: $card-background-border-style;
  }
  .row .col:last-child .content-cell{
    border-right: $card-background-border-style;
  }
  .row:last-child .content-cell {
    border-bottom: $card-background-border-style;
  }
}
@mixin apply-background-color($theme-map){

    // give each column a different color
    @for $i from 1 through ($col-num * $row-num) {
      
      @if $i <= $col-num {
        
         // card title row color
        #cell-#{$i} {
          background-color: map.get($theme-map,main-color);
        }
      } @else {
        // body content col color
      #cell-#{$i} {
        background-color: map.get($theme-map,col-#{get-col-num($i)});
      }
    }
  }
}


@mixin apply-theme($theme-name) {

  @if map.has-key($themes, $theme-name) {
    $theme-map: map.get($themes, $theme-name);

    @include apply-card-border-style($theme-map);
    @include apply-background-color($theme-map);

    }
  
}

