@use "variables" as v;

// required bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

.draw-new-card-container {
    font-size: xx-large;
    font-weight: bold;
}
.draw-new-card-container button {
    justify-content: end;
}


.container .col {
    max-height: 500px;
    min-width: 50px;
}

.list-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list-item {
    margin-top: 6px;
    border-bottom: 1px solid black;
    min-height: 75px;
    border-radius: 5%;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center
}


.container .list-item:nth-child(odd) {
    background-color: rgb(255, 255, 255)
}

.container .list-item:nth-child(even) {
    background-color: rgba(235, 196, 196, 0.75)
}

.container > .row:first-child{
    border: 4px solid black;
    font-size:x-large;
}

.container .row > div:first-child {
    background-color: v.$pink;
}
.container .row > div:nth-child(2){
    background-color: v.$blue;
}
.container .row > div:nth-child(3) {
    background-color: v.$red;
}
.container .row > div:nth-child(4) {
    background-color: v.$yellow;
}
.container .row > div:nth-child(5) {
    background-color: v.$green;
}
